<div class="container">
    <div class="dropdown-menu">
        <div class="mx-auto">
            <form class="px-5 py-3" style="width: 400px;">
                <h2 style="text-align: center">Acceder</h2><br>
                <div class="mb-3">
                    <label for="exampleDropdownFormEmail1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                        placeholder="email@ejemplo.com">
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormPassword1" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                        placeholder="Ingrese su contraseña">
                </div>

                <div class="mx-auto">
                    <div class="form-check justify-content-center" style="display: flex; align-items: center;">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck" style="margin-left: 5px;">Recordarme</label>
                    </div>


                    <div class="d-grid gap-3 col-8 mx-auto">
                        <button class="btn btn-primary border-0" type="submit"
                            style="background-color: rgb(0, 174, 158); border-radius: 50px; margin-top: 5px;"
                            routerLink="/vista-tabla">Acceder</button>
                    </div>
                </div>
            </form>
            <div class="dropdown-divider" style="width: 150px; margin-left: 30%;"></div>
            <div style="text-align: center;">
                <a href="#">Olvidé mi contraseña?</a><br>
                <a href="#">Eres nuevo por aquí? Regístrate</a>
            </div>
        </div>
    </div>
</div>
