<app-barra-menu></app-barra-menu>
<form [formGroup]="form" (ngSubmit)="agregarPersona()" class="container mt-5">
  <div class="container mt-5">
    <div class="row">

      <h2> Ingrese sus datos: </h2><br>
      <div class="input-group">
        <input type="text" formControlName="cedula" class="form-control form-control-lg" id="cedula"
          placeholder=" Cédula">

        <input type="text" formControlName="nombre" class="form-control form-control-lg" id="nombre"
          placeholder=" Nombres">

        <input type="text" formControlName="apellido" class="form-control form-control-lg" id="apellido"
          placeholder=" Apellidos">

        <input type="text" formControlName="fechaNacimiento" class="form-control form-control-lg" id="fechaNacimiento"
          placeholder=" fecha de Nacimiento">

        <input type="text" formControlName="edad" class="form-control form-control-lg" id="edad"
          placeholder=" edad">
        
        <button class="btn btn-success" type="submit">Agregar</button>
      </div><br>


      <table class="table table-striped" style="margin-top: 3%;">
        <thead>
          <tr>
            <th scope="col"> #</th>
            <th scope="col"> Cédula</th>
            <th scope="col"> Nombre</th>
            <th scope="col"> Apellido</th>
            <th scope="col"> Fecha de Nacimiento</th>
            <th scope="col"> Edad</th>
            <th scope="col"> Funciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of listaPersonas let i=index">
            <th>{{ i + 1 }}</th>
            <th>{{estudiante.cedula}}</th>
            <th>{{estudiante.nombre}}</th>
            <th>{{estudiante.apellido}}</th>
            <th>{{estudiante.fechaNacimiento}}</th>
            <th>{{estudiante.edad}}</th>
            <th><i class="bi bi-x-lg" (click)="eliminarPersona(i)"></i></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
<app-barra-footer></app-barra-footer>